* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* ---------------------- DESKTOP ---------------------- */
@media (min-width : 1024px) {

.all-container-title {
    text-align: center;
    max-width: 60%;
    margin: auto;
    margin-bottom: var(--mb-desktop-titleImage);
}

.all-title {
    font-family: 'Oswald', sans-serif;
    font-size: var(--font-desktop-title);
    margin-bottom: var(--mb-desktop-titleText);
}

.all-text {
    font-family: 'poppins', sans-serif;
    font-size: var(--font-desktop-text);
}


/* ========== NAVBAR =========== */

.navbar {
    width: 100%;
    height: 100px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-tablet-section);
    color: var(--color-third);
    justify-content: space-around;
    gap: 300px;
}

#logo {
    font-size: var(--font-tablet-title);
    font-family: "Oswald", sans-serif;
}


/* ========== TITLE ========== */
.section-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    margin-bottom: var(--mb-tablet-section);
    padding-left: 60px;
}

#title {
    font-family: "Oswald", sans-serif;
    font-size: 50px;
}

.section-title a {
    text-decoration: none;
    color: #000;
}

.button-title:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
}

.button-title {
    font-family: "Poppins", sans-serif;
    padding: 20px;
    width: 200px;
    background-color: var(--color-third);
    font-size: 14px;
    text-align: center;
    font-weight: 700;
    border-radius: 6px;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.4);
}


/* ========== EXAMPLE ========== */
.section-example {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    margin: auto;
    max-width: 90%;
    margin-bottom: var(--mb-tablet-section);
}

.section-example img {
    display: inline-block;
    width: 350px;
}


/* ========== REASONS =========== */
.section-reasons {
    width: 100%;
    margin-bottom: var(--mb-desktop-section);
}

.container-menu-reasons {
    display: flex;
    flex-direction: column;
}

.menu-reasons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: var(--mb-desktop-divDiv);
}

.img-menu-reasons {
    text-align: center;
}

.img-menu-reasons img{
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.img-menu-reasons p {
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.button-reasons {
    font-family: "Poppins", sans-serif;
    padding: 15px;
    width: 200px;
    background-color: var(--color-third);
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    border-radius: 6px;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.4);
}

.button-reasons:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
}

.container-menu-reasons a {
    text-decoration: none;
    color: black;
    margin: auto;
}


/* ========== DINE IN ========== */

.section-dineIn {
    width: 100%;
    margin-bottom: var(--mb-desktop-section);
}

.img-dineIn {
    width: 300px;
    height: 300px;
}

.container-img-dineIn {
    display: flex;
    margin-bottom: var(--mb-desktop-section);
    width: 100%;
} 

.container-desc-dineIn {
    background-color: black;
    display: flex;
    align-items: center;
    width: 100%;
}

.dineIn-desc {
    background-color: #000;
    color: white;
    width: 80%;
    margin: auto;
}

.dineIn-desc h3 {
    font-family: 'poppins', sans-serif;
    color: var(--color-third);
    margin-bottom: 15px;
    font-size: var(--font-desktop-title);
}

.dineIn-desc p {
    font-family: 'poppins', sans-serif;
    font-size: var(--font-desktop-text);
}

.desc2 {
    text-align: end;
}

.container-img-online {
    background-color: #000;
    color: white;
    padding: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-title-online {
    text-align: center;
    max-width: 60%;
    margin: auto;
    margin-bottom: var(--mb-desktop-titleImage);
}

.container-title-online h3 {
    font-family: 'poppins', sans-serif;
    color: var(--color-third);
    margin-bottom: 15px;
    font-size: var(--font-desktop-title);
}

.container-title-online p {
    font-family: 'poppins', sans-serif;
    font-size: var(--font-desktop-text);
}

.container-icon-online {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}


/* ========== TESTI ========== */
.section-testi {
    width: 100%;
    display: grid;
    place-items: center;
    margin-bottom: var(--mb-tablet-section);
}

.container-title-testi span {
    font-size: 10px;
}

.section-testi img {
    width: 570px;
    height: 405px;
}


/* ========== SOSMED =========== */
.section-sosmed {
    width: 100%;
    margin-bottom: var(--mb-tablet-section);
}

.container-icon-sosmed {
    display: flex;
    justify-content: space-around;
    max-width: 80%;
    margin: auto;
}

.icon-sosmed img{
    width: 90px;
    height: 90px;
}

.icon-sosmed p {
    font-size: 18px;
}

.icon-sosmed {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}


/* ========== FOOTER ========== */
.section-footer {
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-third);
    text-align: center;
    padding: 40px;
}

.section-footer h3, h4 {
    font-family: 'Oswald', sans-serif;
}

.section-footer h3 {
    margin-bottom: var(--mb-desktop-titleText);
    font-size: var(--font-tablet-title);
}

}



@media (min-width : 1200px) {
    .section-title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #title {
        text-align: center;
    }

    .section-example {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}











/* --------------------- MOBILE --------------------------------- */
@media only screen and (max-width : 767px) {

    body {
        background-repeat: no-repeat;
        background-size: cover;
    }

    main {
        position: relative;
        top: 150px;
        z-index: -999;
    }

    .all-container-title {
        width: 100%;
        text-align: center;
        max-width: 70%;
        margin: auto;
        margin-bottom: var(--mb-mobile-titleImage);
    }

    .all-title {
        font-family: 'Oswald', sans-serif;
        font-size: var(--font-mobile-title);
        margin-bottom: var(--mb-mobile-titleText);
    }

    .all-text {
        font-family: 'poppins', sans-serif;
        font-size: 16px;
    }

    /* ===== NAVBAR MOBILE ===== */
    .navbar {
        width: 100%;
        height: 70px;
        background-color: var(--color-primary);
        display: flex;
        align-items: center;
        padding: 40px;
        color: #FCE836;
        justify-content: space-between;
        position: fixed;
    }

    #logo {
        font-size: var(--font-mobile-title);
        font-family: "Oswald", sans-serif;
    }

    
    /* ===== TITLE MOBILE ===== */
    .section-title {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 80%;
        padding: 0;
        margin: auto;
        margin-bottom: var(--mb-mobile-section);
    }

    #title {
        font-family: "Oswald", sans-serif;
        font-size: 30px;
        margin-bottom: var(--mb-mobile-titleText);
    }

    .section-title a {
        text-decoration: none;
        color: #000;
    }

    .button-title:hover {
        background-color: black;
        color: white;
        transition: 0.3s;
    }

    .button-title {
        font-family: "Poppins", sans-serif;
        padding: 15px;
        width: 140px;
        background-color: #FCE836;
        font-size: 10px;
        text-align: center;
        font-weight: 700;
        border-radius: 6px;
        box-shadow: 4px 4px 6px rgba(0,0,0,0.4);
    }


    /* ========== EXAMPLE MOBILE ========== */
    .section-example {
        width: 100%;
        overflow: auto;
        white-space: nowrap;
        margin: auto;
        max-width: 80%;
        margin-bottom: var(--mb-mobile-section);

    }

    .section-example img {
        display: inline-block;
        width: 350px;
    }


    /* ========== REASONS MOBILE ========== */
    .section-reasons {
        width: 100%;
        margin-bottom: var(--mb-mobile-section);
    }

    .container-menu-reasons {
        display: flex;
        flex-direction: column;
    }

    .menu-reasons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: var(--mb-mobile-divDiv);
    }

    .img-menu-reasons {
        text-align: center;
    }

    .img-menu-reasons img{
        width: 100px;
        height: 100px;
        margin-bottom: 15px;
    }

    .img-menu-reasons p {
        font-family: 'poppins', sans-serif;
        font-weight: 600;
        font-size: 10px;
    }

    .button-reasons {
        font-family: "Poppins", sans-serif;
        padding: 15px;
        width: 140px;
        background-color: #FCE836;
        font-size: 10px;
        text-align: center;
        font-weight: 700;
        border-radius: 6px;
        box-shadow: 4px 4px 6px rgba(0,0,0,0.4);
    }

    .button-reasons:hover {
        background-color: black;
        color: white;
        transition: 0.3s;
    }

    .container-menu-reasons a {
        text-decoration: none;
        color: black;
        margin: auto;
    }


    /* ========== DINE IN MOBILE ========== */
    .section-dineIn {
        width: 100%;
        margin-bottom: var(--mb-mobile-section);
    }

    .container-img-dineIn {
        display: flex;
        margin-bottom: var(--mb-mobile-section);
        width: 100%;
    } 

    .container-desc-dineIn {
        background-color: black;
        display: flex;
        align-items: center;
        width: 100%;
    }

    .dineIn-desc {
        width: 100%;
        background-color: #000;
        color: white;
        max-width: 80%;
        margin: auto;
    }

    .dineIn-desc h3 {
        font-family: 'poppins', sans-serif;
        color: #FCE836;
        margin-bottom: 15px;
    }

    .dineIn-desc p {
        font-family: 'poppins', sans-serif;
    }

    .desc2 {
        text-align: end;
    }

    .container-img-online {
        background-color: var(--color-primary);
        color: white;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .container-title-online {
        text-align: center;
        width: 100%;
        max-width: 80%;
        margin: auto;
        margin-bottom: var(--mb-mobile-titleImage);
    }

    .container-title-online h3 {
        font-family: 'poppins', sans-serif;
        color: #FCE836;
        margin-bottom: 15px;
        font-size: var(--font-mobile-title);
    }

    .container-title-online p {
        font-family: 'poppins', sans-serif;
        font-size: var(--font-mobile-text);
    }

    .container-icon-online {
        width: 100%;
        max-width: 80%;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }

    .container-icon-online img {
        width: 70px;
        height: 70px;
    }


    /* ========== TESTI MOBILE ========== */
    .section-testi {
        width: 100%;
        display: grid;
        place-items: center;
        margin-bottom: var(--mb-mobile-section);
    }

    .container-title-testi span {
        font-size: 7px;
    }

    .section-testi img {
        width: 350px;
        height: 225px;
    }


    /* ========== SOSMED MOBILE ========== */
    .section-sosmed {
        width: 100%;
        margin-bottom: var(--mb-mobile-section);
    }

    .container-icon-sosmed {
        display: flex;
        justify-content: space-around;
    }

    .icon-sosmed img{
        width: 70px;
        height: 70px;
    }

    .icon-sosmed {
        text-align: center;
        font-family: 'Oswald', sans-serif;
    }

    
    /* ========== FOOTER MOBILE ========== */
    .section-footer {
        width: 100%;
        background-color: var(--color-primary);
        color: #FCE836;
        text-align: center;
        padding: 40px;
    }

    .section-footer h3, h4 {
        font-family: 'Oswald', sans-serif;
    }

    .section-footer h3 {
        margin-bottom: var(--mb-mobile-titleText);
        font-size: 20px;
    }

}

.nav-menu {
    position: absolute;
    padding: 30px;
    right: 0px;
    top: 0;
    z-index: -999;
    transform: translateY(-90px);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}


.nav-menu a {
    color: black;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    text-align: center;
}

/* .nav-menu a:hover {
    color: yellow;
    transition: .4s;
} */

.nav-menu.active {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    background-color: black;
    right: 0;
    top: 60px;
    transform: translateY(1px);
    transition: 0.3s;
    z-index: 999;
}

.nav-menu.active a {
    color: white;
}

.nav-menu.active a:hover {
    color: yellow;
    transition: .4s;
}

#tombol {
    background-color: black;
    width: 25px;
    height: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#tombol div {
    width: 100%;
    height: 5px;
    background-color: yellow;
}


@media (min-width : 768px) {

    .nav-menu {
        width: 40%;
        z-index: 999;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        transform: translateY(1px);
    }

    #tombol {
        display: none;
    }

}






/* -------------------- TABLET ---------------------- */
@media (min-width : 768px) and (max-width : 1024px) {

    body {
        background-repeat: no-repeat;
        background-size: cover;
    }

    .all-container-title {
        text-align: center;
        max-width: 60%;
        margin: auto;
        margin-bottom: var(--mb-tablet-titleImage);
    }

    .all-title {
        font-family: 'Oswald', sans-serif;
        font-size: var(--font-tablet-title);
        margin-bottom: var(--mb-tablet-titleText);
    }

    .all-text {
        font-family: 'poppins', sans-serif;
        font-size: var(--font-tablet-text);
    }

    /* ========== NAVBAR TABLET ========== */
    .navbar {
        width: 100%;
        height: 90px;
        background-color: var(--color-primary);
        display: flex;
        align-items: center;
        margin-bottom: var(--mb-tablet-section);
        padding: 40px;
        color: var(--color-third);
        justify-content: space-between;
    }

    #logo {
        font-size: var(--font-tablet-title);
        font-family: "Oswald", sans-serif;
    }


    /* ========== TITLE TABLET ========== */
    .section-title {
        display: flex;
        flex-direction: column;
        padding: 40px;
        row-gap: 25px;
        margin-bottom: var(--mb-tablet-section);
    }

    #title {
        font-family: "Oswald", sans-serif;
        font-size: 50px;
    }

    .section-title a {
        text-decoration: none;
        color: #000;
    }

    .button-title:hover {
        background-color: black;
        color: white;
        transition: 0.3s;
    }

    .button-title {
        font-family: "Poppins", sans-serif;
        padding: 20px;
        width: 200px;
        background-color: var(--color-third);
        font-size: 14px;
        text-align: center;
        font-weight: 700;
        border-radius: 6px;
        box-shadow: 4px 4px 6px rgba(0,0,0,0.4);
    }


    /* ========== EXAMPLE TABLET ========== */
    .section-example {
        width: 100%;
        overflow: auto;
        white-space: nowrap;
        margin: auto;
        max-width: 90%;
        margin-bottom: var(--mb-tablet-section);

    }

    .section-example img {
        display: inline-block;
        width: 350px;
    }

    /* ========== REASONS TABLET ========== */
    .section-reasons {
        width: 100%;
        margin-bottom: var(--mb-tablet-section);
    }

    .container-menu-reasons {
        display: flex;
        flex-direction: column;
    }

    .menu-reasons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: var(--mb-mobile-divDiv);
    }

    .img-menu-reasons {
        text-align: center;
    }

    .img-menu-reasons img{
        width: 130px;
        height: 130px;
        margin-bottom: 15px;
    }

    .img-menu-reasons p {
        font-family: 'poppins', sans-serif;
        font-weight: 600;
        font-size: 16px;
    }

    .button-reasons {
        font-family: "Poppins", sans-serif;
        padding: 15px;
        width: 200px;
        background-color: var(--color-third);
        font-size: 16px;
        text-align: center;
        font-weight: 700;
        border-radius: 6px;
        box-shadow: 4px 4px 6px rgba(0,0,0,0.4);
    }

    .button-reasons:hover {
        background-color: black;
        color: white;
        transition: 0.3s;
    }

    .container-menu-reasons a {
        text-decoration: none;
        color: black;
        margin: auto;
    }


    /* ========== DINE IN TABLET ========== */
    .section-dineIn {
        width: 100%;
        margin-bottom: var(--mb-tablet-section);
    }

    .container-img-dineIn {
        display: flex;
        margin-bottom: var(--mb-mobile-section);
        width: 100%;
    } 

    .container-img-dineIn img {
        width: 250px;
        height: 250px;
    }

    .container-desc-dineIn {
        background-color: black;
        display: flex;
        align-items: center;
        width: 100%;
    }

    .dineIn-desc {
        background-color: #000;
        color: white;
        max-width: 80%;
        margin: auto;
    }

    .dineIn-desc h3 {
        font-family: 'poppins', sans-serif;
        color: var(--color-third);
        margin-bottom: 15px;
        font-size: var(--font-tablet-title);
    }

    .dineIn-desc p {
        font-family: 'poppins', sans-serif;
        font-size: var(--font-tablet-text);
    }

    .desc2 {
        text-align: end;
    }

    .container-img-online {
        background-color: #000;
        color: white;
        padding: 50px;
    }

    .container-title-online {
        text-align: center;
        max-width: 60%;
        margin: auto;
        margin-bottom: var(--mb-tablet-titleImage);
    }

    .container-title-online h3 {
        font-family: 'poppins', sans-serif;
        color: var(--color-third);
        margin-bottom: 15px;
        font-size: var(--font-tablet-title);
    }

    .container-title-online p {
        font-family: 'poppins', sans-serif;
        font-size: var(--font-tablet-text);
    }

    .container-icon-online {
        display: flex;
        justify-content: space-around;
    }


    /* ========== TESTI TABLET ========== */
    .section-testi {
        width: 100%;
        display: grid;
        place-items: center;
        margin-bottom: var(--mb-tablet-section);
    }

    .container-title-testi span {
        font-size: 9px;
    }

    .section-testi img {
        width: 450px;
        height: 305px;
    }


    /* ========== SOSMED TABLET ========== */
    .section-sosmed {
        width: 100%;
        margin-bottom: var(--mb-tablet-section);
    }

    .container-icon-sosmed {
        display: flex;
        justify-content: space-around;
        max-width: 80%;
        margin: auto;
    }

    .icon-sosmed img{
        width: 80px;
        height: 80px;
    }

    .icon-sosmed {
        text-align: center;
        font-family: 'Oswald', sans-serif;
    }


    /* ========== FOOTER TABLET ========== */
    .section-footer {
        width: 100%;
        background-color: var(--color-primary);
        color: var(--color-third);
        text-align: center;
        padding: 40px;
    }

    .section-footer h3, h4 {
        font-family: 'Oswald', sans-serif;
    }

    .section-footer h3 {
        margin-bottom: var(--mb-tablet-titleText);
    }
}











/* ---------------- VARIABLE CSS ------------------ */

/* ========== FONT ========== */
:root {
    --font-mobile-title : 22px;
    --font-mobile-text : 16px;

    --font-tablet-title : 30px;
    --font-tablet-text : 18px;

    --font-desktop-title : 40px;
    --font-desktop-text : 20px;
}

/* ========== COLOR ========== */
:root {
    --color-primary : #000;
    --color-secondary : #fff;
    --color-third : #FCE836;
}

/* ========== MARGIN ========== */
:root {
    --mb-mobile-section : 70px;
    --mb-mobile-titleText : 20px;
    --mb-mobile-titleImage : 50px;
    --mb-mobile-divDiv : 40px;

    --mb-tablet-section : 90px;
    --mb-tablet-titleText : 40px;
    --mb-tablet-titleImage : 60px;
    --mb-tablet-divDiv : 55px;

    --mb-desktop-section : 110px;
    --mb-desktop-titleText : 50px;
    --mb-desktop-titleImage : 70px;
    --mb-desktop-divDiv : 60px;
}
